The Notebook explores and showcases Global Wildfire events

In [1]:
import os
import glob
import pandas as pd
import geopandas as gpd
import dask_geopandas as dgpd
import dask.dataframe as dd

In [3]:
wildfire_path = "/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023"
shapefile_paths = glob.glob(os.path.join(wildfire_path, "*.shp"))
shapefile_paths

['/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2008.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2022.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2021.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2020.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2019.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2002.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2005.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2018.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2023.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2010.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2006.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2007.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2015.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2013.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2009.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2016.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2012.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2003.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2014.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2004.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2011.shp',
 '/workspace/_output/GLOBFIRE_burned_area_full_dataset_2002_2023/original_globfire_filtered_2017.shp']

In [7]:
list_of_ddfs = [dgpd.read_file(shp, chunksize=2048) for shp in shapefile_paths]
dask_gdf = dgpd.from_dask_dataframe(dd.concat(list_of_ddfs))
print(dask_gdf.head())

   _uid_         id initialdat  finaldate     area_ha  \
0    1.0  8592263.0 2008-01-12 2008-01-12   21.402765
1    2.0  8592264.0 2008-01-13 2008-01-13   21.402738
2    3.0  8592129.0 2008-01-02 2008-01-02   21.445638
3    4.0  8592130.0 2008-01-07 2008-01-07   21.445601
4    5.0  8592131.0 2008-01-03 2008-01-03  128.669714

                                            geometry
0  POLYGON ((-102.64936 19.79583, -102.64493 19.7...
1  POLYGON ((-102.63513 19.7875, -102.6307 19.787...
2  POLYGON ((-112.96276 30.91667, -112.9579 30.91...
3  POLYGON ((-112.95292 30.90833, -112.94806 30.9...
4  POLYGON ((-112.48573 30.77917, -112.47603 30.7...

In [8]:
df = dask_gdf.compute()
print(df.info())

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 23726360 entries, 0 to 1016865
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   _uid_       float64
 1   id          float64
 2   initialdat  datetime64[ms]
 3   finaldate   datetime64[ms]
 4   area_ha     float64
 5   geometry    geometry
dtypes: datetime64[ms](2), float64(3), geometry(1)
memory usage: 1.2 GB
None

In [12]:
df.sample(10)

,_uid_,id,initialdat,finaldate,area_ha,geometry
370893,370894.0,26560112.0,2023-06-18,2023-06-25,1176.201370,"POLYGON ((130.48875 -13.5, 130.48419 -13.49167..."
297443,297444.0,1331939.0,2002-06-11,2002-06-11,128.604597,"POLYGON ((31.60793 -28.2875, 31.61266 -28.2875..."
275176,275177.0,16155607.0,2014-04-26,2014-04-26,21.389858,"POLYGON ((-90.03445 15.30417, -90.03013 15.304..."
60098,60099.0,12387493.0,2011-01-15,2011-01-27,384.785025,"POLYGON ((8.61578 9.05833, 8.62 9.05833, 8.620..."
588182,588183.0,7959260.0,2007-07-20,2007-07-22,277.908142,"POLYGON ((16.46655 -9.39167, 16.46675 -9.39583..."
1007288,1007289.0,17102080.0,2015-01-11,2015-01-11,21.371809,"POLYGON ((18.56571 4.66667, 18.56989 4.66667, ..."
658230,658231.0,7239956.0,2006-12-07,2006-12-07,21.371468,"POLYGON ((-60.23035 4.225, -60.22617 4.225, -6..."
545401,545402.0,14088499.0,2012-07-14,2012-07-17,42.740922,"POLYGON ((14.41789 -2.5, 14.41794 -2.50417, 14..."
419868,419869.0,10392289.0,2009-06-07,2009-06-07,21.381445,"POLYGON ((37.58095 -11.575, 37.58521 -11.575, ..."
46450,46451.0,12430647.0,2011-01-01,2011-01-03,64.161043,"POLYGON ((99.76938 14.14167, 99.76509 14.14167..."

In [10]:
print("Total number of features:", len(df))

Total number of features: 23726360